.captcha {
    width: 300px;
    height: 70px;
    padding: 19px;
    border: 1px solid #888;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
}

.captcha span {
    position: relative;
    top: -9px;
}

.captcha .checkbox {
    position: relative;
    margin: 0 20px 0 0;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 3px;
}

.captcha .checkbox:hover {
    background-color: #eee;
}

.captcha .checkbox.checked {
    background-color: #29F;
}

.captcha .checkbox.checked::before {
    position: absolute;
    display: block;
    content: "";
    width: 7px;
    height: 15px;
    top: 2px;
    left: 9px;
    border: #fff solid;
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
}

.captcha .checkbox.loading {
}

.captcha .checkbox.loading::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 17px;
    height: 17px;
    border: 4px solid;
    border-radius: 50%;
    border-color: #000 transparent #000 transparent;
    animation: _aw_l infinite 1s;
}

@keyframes _aw_l {
    to {
        transform: rotate(.5turn)
    }
}